<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                  <label for="" class="form-label">Student Name</label>
                  <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">

                    <label for="" class="form-label">Department Name</label>
                  <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">

                    <label for="" class="form-label">Year</label>
                  <input type="text" class="form-control">
                  

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">


                    <label for="" class="form-label">Semester</label>
                  <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">

                    <label for="" class="form-label">Mobile Number</label>
                  <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
